Repository Pricepro2006/CrewAI_Team: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Resolve TypeScript errors and improve type safety
  CRITICAL_ISSUES_RESOLVED.md
  docs/DATABASE_ARCHITECTURE_ANALYSIS.md
  package.json
  pnpm-lock.yaml
  src/api/middleware/index.ts
  src/api/routes/chat.router.ts
  src/api/routes/confidence-chat.router.ts
  src/api/services/ConversationService.ts
  src/api/trpc/context.ts
  src/api/trpc/enhanced-router.ts
  src/api/types/express.d.ts
  src/api/utils/password.ts
  src/api/utils/type-guards.ts
  src/config/confidence-profiles.ts
  src/config/confidence.config.ts
  src/config/validateConfidenceConfig.ts
  src/core/agents/base/AgentTypes.ts
  src/core/agents/base/BaseAgent.ts
  src/core/agents/registry/AgentRegistry.ts
  src/core/llm/OllamaProvider.ts
  src/core/master-orchestrator/ConfidenceMasterOrchestrator.ts
  src/core/master-orchestrator/MasterOrchestrator.ts
  src/core/rag/confidence/AdaptiveDeliveryManager.ts
  src/core/rag/confidence/BERTRanker.ts
  src/core/rag/confidence/ConfidenceCalibrator.ts
  src/core/rag/confidence/ConfidenceContextBuilder.ts
  src/core/rag/confidence/ConfidenceExtractor.ts
  src/core/rag/confidence/evaluators/RelevanceScorer.ts
  src/core/rag/confidence/index.ts
  test-coverage-report.txt
  test-summary.md
  tsconfig.json
  tsconfig.server.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Resolve critical TypeScript errors in confidence system
  package.json
  pnpm-lock.yaml
  src/api/routes/orchestrator.router.ts
  src/core/agents/specialized/ResearchAgent.ts
  src/core/agents/specialized/ResearchAgentTypes.ts
  src/core/llm/OllamaJSProvider.ts
  src/core/master-orchestrator/AgentRouter.ts
  src/core/master-orchestrator/ConfidenceMasterOrchestrator.ts
  src/core/master-orchestrator/MasterOrchestrator.ts
  src/core/master-orchestrator/SimplePlanGenerator.ts
  src/core/master-orchestrator/types.ts
  src/core/rag/confidence/AdaptiveDeliveryManager.ts
  src/core/rag/confidence/BERTRanker.ts
  src/core/rag/confidence/ConfidenceCalibrator.ts
  src/core/rag/confidence/ConfidenceContextBuilder.ts
  src/core/rag/confidence/ConfidenceRAGRetriever.ts
  src/core/rag/confidence/MultiModalEvaluator.ts
  src/core/rag/confidence/PerformanceOptimizer.ts
  src/core/rag/confidence/evaluators/CoherenceAnalyzer.ts
  src/core/rag/confidence/evaluators/FactualityChecker.ts
  src/core/rag/confidence/types.ts
  test-analysis-report.md
  test-failure-analysis-summary.md
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Add missing averageConfidence property to QueryProcessingResult
  src/core/rag/confidence/ConfidenceRAGRetriever.ts
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

feat: Complete XSS protection integration in Express server
  src/api/server.ts
  src/ui/components/SafeContent/__tests__/SafeContent.test.tsx
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Resolve build issues in reliability-phase2 branch
  src/ui/hooks/useCSRF.tsx
  src/ui/hooks/useCSRFProtectedMutation.ts
  src/ui/hooks/useTRPCWithCSRF.ts
  src/ui/utils/logger.ts
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

feat(phase3): Complete Phase 3 error handling and monitoring implementation
  src/api/middleware/asyncHandler.ts
  src/api/middleware/auth.ts
  src/api/middleware/errorHandler.ts
  src/api/middleware/monitoring.ts
  src/api/middleware/security/enhanced-security.ts
  src/api/middleware/security/headers.ts
  src/api/middleware/security/index.ts
  src/api/middleware/websocketAuth.ts
  src/api/routes/csrf.router.ts
  src/api/routes/monitoring.router.ts
  src/api/routes/websocket-monitor.router.ts
  src/api/server.ts
  src/api/services/UserService.ts
  src/api/services/WebSocketService.ts
  src/ui/hooks/useAuth.tsx
  src/ui/hooks/useCSRF.tsx
  src/ui/hooks/useErrorRecovery.ts
  src/utils/error-handling/async-error-wrapper.ts
  src/utils/error-handling/index.ts
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

feat: Complete Phase 4 - Replace static UI data with real API integration
  scripts/check-secrets.ts
  src/api/routes/agent.router.ts
  src/api/routes/health.router.ts
  src/api/routes/rag.router.ts
  src/ui/components/Agents/Agents.tsx
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

docs: Add PR resolution plan for phase merge strategy
  docs/PR_RESOLUTION_PLAN.md
Due: prettier --write, bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

docs: Add comprehensive testing plan, migration guide, and merge checklist
  docs/FINAL_MERGE_CHECKLIST.md
  docs/MIGRATION_GUIDE.md
  docs/PHASE_TESTING_PLAN.md
Due: prettier --write, bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

docs: Complete Phase 3 Testing & Security Implementation
  SECURITY_CHECKLIST.md
  SECURITY_FINDINGS_REPORT.md
  SECURITY_IMMEDIATE_ACTIONS.md
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
Due: prettier --write, bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Resolve ESLint errors in WebSocketManager.ts
  src/core/websocket/WebSocketManager.ts
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: ESLint corrections for health router and TRPC hook
  src/api/routes/health.router.ts
  src/ui/hooks/useTRPCWithCSRF.ts
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Exclude test files from server build configuration
  config/typescript/tsconfig.server.json
Due: prettier --write, bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

docs: Update email pipeline checklist with Phase 4 completion status
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
Due: prettier --write, bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Add Python distutils to CI/CD pipeline for better-sqlite3 compilation
  .github/workflows/migration-pipeline.yml
  docs/CI_CD_FAILURE_ANALYSIS.md
  docs/CI_CD_FIX_IMPLEMENTATION.md
Due: prettier --write, bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Update CI/CD for Ubuntu 24.04 Python package compatibility
  .github/workflows/migration-pipeline.yml
Due: bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Sync package-lock.json for CI/CD compatibility
  package-lock.json
Due: prettier --write, bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

fix: Resolve critical TypeScript type errors for CI/CD compatibility
  .husky/commit-msg
  README.md
  config/typescript/tsconfig.server.json
  docs/EMAIL_PIPELINE_DEPLOYMENT.md
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
  docs/JULY_30_PROGRESS.md
  docs/PRE_COMMIT_HOOK_VERIFICATION.md
  pids/email-pipeline.pid
  scripts/run-email-pipeline-fixed.ts
  scripts/run-email-pipeline-simple.ts
  scripts/run-email-pipeline.ts
  scripts/test-email-format.ts
  scripts/test-email-pipeline.ts
  src/api/middleware/asyncHandler.ts
  src/client/components/walmart/WalmartOrderHistory.tsx
  src/client/components/walmart/WalmartPriceTracker.tsx
  src/client/components/walmart/WalmartSubstitutionManager.tsx
  src/core/pipeline/PipelineOrchestrator.ts
  src/types/walmart-grocery.ts
Due: eslint --fix, prettier --write, bash -c 'node scripts/security-checks.js', bash -c 'node scripts/check-secrets.js', bash -c 'node scripts/check-file-size.js'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,css})
  bash -c 'node scripts/security-checks.js': (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'node scripts/check-secrets.js': any of: *
  bash -c 'node scripts/check-file-size.js': any of: *
