Repository Pricepro2006/CrewAI_Team: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: add missing setup-unit.ts file for CI tests
  src/test/setup-unit.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve CI/CD memory issues for UI component tests
  package.json
  vitest.config.ts
  vitest.ui.config.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve high severity security vulnerabilities
  package.json
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: update CI/CD workflow to use memory-safe test commands
  .github/workflows/migration-pipeline.yml
  package.json
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: update pnpm lockfile with security patches
  pnpm-lock.yaml
Due: tsx scripts/check-secrets.ts

fix: resolve CI/CD issues with NODE_OPTIONS and missing test utils
  package.json
  vitest.config.ts
  vitest.ui.config.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: add missing error-handling.ts for integration tests
  src/test/utils/error-handling.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve ESLint errors blocking CI/CD pipeline
  src/core/services/EmailThreePhaseAnalysisService.ts
  src/services/EmailIngestionIntegrationService.ts
  src/ui/components/EmailList/__tests__/EmailList.test.tsx
  src/ui/hooks/useEnhancedWebSocket.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve TypeScript type compatibility errors
  lint-output.txt
  src/client/services/walmart-api.ts
  src/client/store/groceryStore.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

security: fix all security vulnerabilities in dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: remove .js extensions from client-side imports
  src/client/components/walmart/WalmartChatInterface.tsx
  src/client/components/walmart/WalmartDashboard.tsx
  src/client/components/walmart/WalmartDealAlert.tsx
  src/client/components/walmart/WalmartGroceryList.tsx
  src/client/components/walmart/WalmartOrderHistory.tsx
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: correct import paths for walmart utilities and fix implicit any types
  src/client/components/walmart/WalmartChatInterface.tsx
  src/client/components/walmart/WalmartDashboard.tsx
  src/client/components/walmart/WalmartDealAlert.tsx
  src/client/components/walmart/WalmartGroceryList.tsx
  src/client/components/walmart/WalmartOrderHistory.tsx
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: remove .js extension from password module imports
  src/api/routes/auth.router.ts
  src/api/services/UserService.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: add remaining type annotations for UIOrderItem in WalmartOrderHistory
  src/client/components/walmart/WalmartOrderHistory.tsx
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: correct remaining import paths for walmart utilities
  src/client/components/walmart/WalmartChatInterface.tsx
  src/client/components/walmart/WalmartDashboard.tsx
  src/client/components/walmart/WalmartDealAlert.tsx
  src/client/components/walmart/WalmartGroceryList.tsx
  src/client/components/walmart/WalmartOrderHistory.tsx
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: remove all .js extensions from client imports and fix implicit any
  src/client/components/walmart/WalmartBudgetTracker.tsx
  src/client/components/walmart/WalmartDeliveryScheduler.tsx
  src/client/components/walmart/WalmartPriceTracker.tsx
  src/client/components/walmart/WalmartProductCard.tsx
  src/client/components/walmart/WalmartProductSearch.tsx
  src/client/components/walmart/WalmartShoppingCart.tsx
  src/client/components/walmart/WalmartSubstitutionManager.tsx
  src/client/components/walmart/WalmartUserPreferences.tsx
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: add explicit type annotation to fix implicit any in WalmartProductSearch
  src/client/components/walmart/WalmartProductSearch.tsx
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve TypeScript module imports and server build configuration
  .claude/agents/ai-engineer-llm.md
  .husky/pre-commit
  config/typescript/tsconfig.server.json
  src/client/hooks/useWalmartSearch.ts
  src/core/prompt-optimization/PromptOptimizer.ts
  src/core/scoring/AnalysisScorer.ts
  src/ui/App.tsx
  src/ui/components/ErrorRecovery/ErrorRecoveryBoundary.tsx
  src/ui/components/Security/SecurityStatusMonitor.tsx
  src/ui/hooks/useEnhancedWebSocket.ts
  src/ui/hooks/useWebSocket.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: complete TypeScript module resolution fixes
  lint-output-new.txt
  package.json
  pnpm-lock.yaml
  src/ui/components/Alert/Alert.tsx
  src/ui/components/Alert/index.ts
  src/ui/components/Button/Button.tsx
  src/ui/components/Button/index.ts
  src/ui/components/ErrorRecovery/ErrorRecoveryBoundary.tsx
  src/ui/components/Security/SecurityStatusMonitor.tsx
  src/ui/hooks/useEnhancedWebSocket.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve critical email pipeline TypeScript errors
  src/core/monitoring/EmailPipelineHealthChecker.ts
  src/core/monitoring/EmailProcessingMonitor.ts
  src/core/processors/EmailQueueProcessor.ts
  src/core/processors/EmailThreePhaseBatchProcessor.ts
  src/core/services/EmailChainAnalyzer.ts
  src/core/services/EmailChainAnalyzerV2.ts
  src/core/services/EmailThreePhaseAnalysisService.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

Path conditions:
  bash -c 'echo "Checking TypeScript for:" $0': any of: *.{ts,tsx}
  tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit: any of: *.{ts,tsx}
  prettier --check --cache --cache-location .prettier-cache: any of: *.{js,jsx,ts,tsx,json,md}
  eslint --cache --cache-location .eslintcache --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  tsx scripts/check-secrets.ts: any of: *
