Repository Pricepro2006/CrewAI_Team: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "bash -c 'echo \"Checking TypeScript for:\" $0'",
    "tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --check --cache --cache-location .prettier-cache"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint --cache --cache-location .eslintcache --max-warnings 0"
  ],
  "*": [
    "tsx scripts/check-secrets.ts"
  ]
}

feat: add performance monitoring and batch testing utilities
  scripts/monitor-email-performance.ts
  scripts/process-emails-simple-batch.ts
  scripts/test-batch-processing.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: enhance JSON parsing in ThreePhasePrompts templates
  src/core/prompts/ThreePhasePrompts.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: update enhanced Phase 1-2 processing script
  scripts/process-emails-phase12-enhanced.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

feat: add npm scripts for performance optimization tools
  package.json
  src/scripts/process-emails-optimized.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

feat: implement Phase 2 email processing with multiple approaches
  dump.rdb
  package.json
  pnpm-lock.yaml
  scripts/process-emails-phase2-batch.ts
  scripts/process-emails-phase2-direct.ts
  scripts/process-emails-phase2-fast.ts
  scripts/process-emails-phase2-optimized.ts
  scripts/process-emails-phase2-production.ts
  scripts/process-emails-phase2-simple.ts
  src/core/services/OllamaOptimizer.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

feat: implement Phase 3 conversation analysis for email pipeline
  dump.rdb
  scripts/assign-conversation-ids.ts
  scripts/process-phase3-conversations-fast.ts
  src/api/services/EmailStorageService.ts
  src/api/services/RealEmailStorageService.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: optimize pre-commit hooks to prevent memory issues and allow warnings
  .lintstagedrc.optimized.json
  scripts/toggle-lint-staged.sh
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: resolve critical TypeScript compilation errors blocking build
  .lintstagedrc.development.json
  .tsbuildinfo.precommit
  git-repository-review.md
  git-resolution-strategy.md
  src/api/services/EmailIntegrationService.ts
  src/api/services/EmailWebSocketEmitter.ts
  src/api/services/UnifiedEmailService.ts
  src/api/services/WebSocketService.ts
  src/client/components/dashboard/EmailDashboardMultiPanel.tsx
  src/client/components/dashboard/__tests__/EmailDashboardMultiPanel.test.tsx
  src/client/components/email/FilterPanel.tsx
  src/client/components/walmart/WalmartProductSearch.tsx
  src/client/components/walmart/WalmartUserPreferences.tsx
  src/client/hooks/useWalmartDeals.ts
  src/client/hooks/useWalmartSearch.ts
  src/client/pages/EmailDashboardDemo.tsx
  src/client/services/walmart-api.ts
  src/services/PipelineJsonParser.ts
  src/shared/types/core.ts
  src/utils/error-handling/index.ts
  src/utils/logger.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

docs: add comprehensive Git repository review and improvement strategy
  git-repository-review.md
  git-resolution-strategy.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

feat: implement emergency pre-commit hook for critical email pipeline push
  .husky/pre-commit.emergency
  HOOK_BYPASS_NOTICE.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: resolve TypeScript variable redeclaration errors
  .husky/pre-commit
  src/client/services/walmart-api.ts
  src/utils/error-handling/index.ts
  src/utils/logger.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve vitest dependency conflict blocking CI/CD
  package.json
  pnpm-lock.yaml
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: migrate CI/CD pipeline from npm to pnpm
  .github/workflows/migration-pipeline.yml
  package-lock.json
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: move pnpm setup before Node.js setup for proper caching
  .github/workflows/migration-pipeline.yml
Due: tsx scripts/check-secrets.ts

fix: update CI to use pnpm version 9 to match lockfile version
  .github/workflows/migration-pipeline.yml
Due: tsx scripts/check-secrets.ts

docs: add CI/CD restoration summary documenting npm to pnpm migration
  CI_CD_RESTORATION_SUMMARY.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: resolve critical ESLint errors blocking CI/CD pipeline
  .husky/pre-commit.backup
  src/core/services/EmailChainAnalyzer.ts
  src/core/services/EmailChainAnalyzerV2.ts
  src/core/services/EmailIngestionService.ts
  src/core/services/EmailIngestionServiceFactory.ts
  src/core/services/EmailProcessingOptimizer.ts
  src/core/services/EmailThreePhaseAnalysisServiceV2.ts
  src/core/services/LLMRateLimiter.ts
  src/core/workers/EmailProcessingWorker.ts
  typecheck-output.txt
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: resolve vitest v3 module resolution issues for TypeScript
  src/core/master-orchestrator/SimplePlanGenerator.ts
  src/test/system/critical-issues-verification.test.ts
  src/tests/critical-fixes-validation.test.ts
  vitest.config.ts
  vitest.integration.config.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: add missing setup-unit.ts file for CI tests
  src/test/setup-unit.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts
