Repository Pricepro2006/CrewAI_Team: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "bash -c 'echo \"Checking TypeScript for:\" $0'",
    "tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --check --cache --cache-location .prettier-cache"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint --cache --cache-location .eslintcache --max-warnings 0"
  ],
  "*": [
    "tsx scripts/check-secrets.ts"
  ]
}

docs: update project documentation with current status
  CLAUDE.md
  README.md
  WALMART_GROCERY_AGENT_README.md
  docs/PDR_WALMART_GROCERY_MICROSERVICES.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

chore(release): v2.3.0 - Walmart Grocery Agent stability release
  RELEASE_NOTES_v2.3.0.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

feat: Initialize Llama 3.2:3b fine-tuning project
  fine-tuning/README.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

feat: Add comprehensive security test suite with GitHub Actions integration
  .github/workflows/README_SECURITY.md
  .github/workflows/migration-pipeline.yml
  .github/workflows/security-tests.yml
  GITHUB_ACTIONS_SECURITY_INTEGRATION.md
  README.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

feat(core): Add Walmart Grocery Agent with NLP intelligence
  src/api/services/HybridSearchService.ts
  src/database/migrations/011_create_purchase_history_table.ts
  src/database/migrations/012_create_user_preferences_table.ts
  src/database/migrations/013_create_deal_alerts_table.ts
  src/ui/components/Walmart/NLPInterface/NLPInterface.css
  src/ui/components/Walmart/NLPInterface/NLPResultDisplay.tsx
  src/ui/components/Walmart/NLPInterface/NLPSearchInput.tsx
  src/ui/components/Walmart/Search/SearchInterface.tsx
  src/ui/components/WalmartAgent/GroceryListAndTracker.css
  src/ui/components/WalmartAgent/GroceryListAndTracker.tsx
  src/ui/components/WalmartAgent/WalmartGroceryAgent.tsx
  src/ui/hooks/useGroceryWebSocket.ts
  src/ui/hooks/useRealtimePrices.ts
  tests/unit/api/grocery-list-management.test.ts
  tests/unit/api/nlp-query-processing.test.ts
  tests/unit/api/pricing-api-with-caching.test.ts
  tests/unit/api/product-search-api.test.ts
  tests/unit/api/websocket-events.test.ts
  tests/unit/components/nlp-search-input.test.tsx
  tests/unit/components/search-interface-virtualization.test.tsx
  tests/unit/components/service-health-dashboard.test.tsx
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

feat(infrastructure): Add WebSocket, caching, and real-time features
  src/api/services/BudgetTrackingService.ts
  src/api/services/CartPersistenceService.ts
  src/api/services/CentralizedCacheService.ts
  src/api/services/HealthCheckService.ts
  src/api/services/PriceAlertService.ts
  src/api/websocket/EnhancedWebSocketServer.ts
  src/api/websocket/SecureWalmartWebSocketServer.ts
  src/api/websocket/WebSocketGateway.ts
  src/core/events/EventReplay.ts
  src/core/rag/VectorStoreFactory.ts
  src/database/connection-pool.ts
  src/middleware/auth.ts
  src/middleware/security/AuthenticationMiddleware.ts
  src/middleware/security/SecurityHeaders.ts
  src/ui/hooks/useTRPCWithCSRF.ts
  src/ui/hooks/useWalmartWebSocket.ts
  src/ui/services/ResilientWebSocketClient.ts
  src/utils/rateLimiter.ts
  src/utils/secureSqlBuilder.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

docs: Add comprehensive documentation and deployment guides
  CLAUDE.md
  MONITORING_SETUP_GUIDE.md
  QUICK_REFERENCE_CARD.md
  WALMART_BACKEND_API_DOCUMENTATION.md
  WALMART_GROCERY_AGENT_FRONTEND_DOCUMENTATION.md
  WALMART_GROCERY_AGENT_README.md
  WALMART_GROCERY_DATABASE_SCHEMA_DOCUMENTATION.md
  docs/PDR_WALMART_GROCERY_MICROSERVICES.md
  docs/PORT_CONFIGURATION_GUIDE.md
  package.json
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

chore: Add .claude/commands to gitignore
  .gitignore
Due: tsx scripts/check-secrets.ts

chore: Update gitignore to exclude non-essential files
  .gitignore
Due: tsx scripts/check-secrets.ts

chore: Add gemini.settings.json to gitignore
  .gitignore
Due: tsx scripts/check-secrets.ts

docs: Add latest updates section documenting repository cleanup and PR #11
  README.md
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

feat(fine-tuning): add adaptive training pipeline for LFM2 model
  fine-tuning/ADAPTIVE_TRAINING_PLAN.md
  fine-tuning/FILE_INVENTORY_COMPLETE.md
  fine-tuning/README.md
  fine-tuning/README_LLAMA_CPP_FINETUNING.md
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/README.md
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/adapter_model.safetensors
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/chat_template.jinja
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/optimizer.pt
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/rng_state.pth
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/scheduler.pt
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/trainer_state.json
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/training_args.bin
  fine-tuning/archive_old_100_examples/train_email_batch_analysis.py
  fine-tuning/datasets/adaptive_train.json
  fine-tuning/datasets/adaptive_val.json
  fine-tuning/phase1_data_analysis.py
  fine-tuning/phase2_adaptive_dataset_generator.py
  fine-tuning/train_adaptive_lfm2.py
  fine-tuning/training_progress_monitor.py
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

ci: add multi-phase deployment pipeline for Walmart Grocery Agent
  .github/workflows/multi-phase-deploy.yml
Due: tsx scripts/check-secrets.ts

chore: add package-lock.json before branch switch
  package-lock.json
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: resolve critical TypeScript errors post-merge
  docs/BRANCH_CONSOLIDATION_AUGUST_2025.md
  src/api/services/CentralizedCacheService.ts
  src/api/services/WalmartPriceFetcher.ts
  src/core/events/EventReplay.ts
  src/core/rag/VectorStoreFactory.ts
  src/database/migrations/011_create_purchase_history_table.ts
  src/database/migrations/012_create_user_preferences_table.ts
  src/database/migrations/013_create_deal_alerts_table.ts
  src/database/migrations/020_create_cart_tables.ts
  src/database/migrations/021_fix_model_mismatch.ts
  src/database/migrations/022_add_performance_indexes.ts
  src/database/migrations/023_add_existing_table_indexes.ts
  src/utils/trpc.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

refactor(fine-tuning): Clean up and organize Phi-2 training pipeline
  .gitignore
  fine-tuning/ADAPTIVE_TRAINING_PLAN.md
  fine-tuning/FILE_INVENTORY_COMPLETE.md
  fine-tuning/README.md
  fine-tuning/README_LLAMA_CPP_FINETUNING.md
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/README.md
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/adapter_model.safetensors
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/chat_template.jinja
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/optimizer.pt
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/rng_state.pth
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/scheduler.pt
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/trainer_state.json
  fine-tuning/archive_old_100_examples/email_batch_analyzer/checkpoint-50/training_args.bin
  fine-tuning/archive_old_100_examples/train_email_batch_analysis.py
  fine-tuning/docs/PHI2_TRAINING_STATUS.md
  fine-tuning/phase1_data_analysis.py
  fine-tuning/phase2_adaptive_dataset_generator.py
  fine-tuning/requirements.txt
  fine-tuning/train_adaptive_lfm2.py
Due: prettier --check --cache --cache-location .prettier-cache, tsx scripts/check-secrets.ts

fix: Phase 2 TypeScript error reduction - dependency and type fixes
  package-lock.json
  package.json
  src/utils/batchOperations.ts
  src/utils/fieldSelection.ts
  src/utils/jsonOptimization.ts
  src/utils/pagination.ts
  src/utils/xss-protection.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: tRPC route type errors in walmart-grocery.router.ts
  src/api/routes/walmart-grocery.router.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: Replace withDatabaseContext with proper tRPC signatures
  src/api/routes/walmart-grocery.router.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts

fix: Resolve remaining syntax errors in walmart-grocery.router.ts
  src/api/routes/walmart-grocery.router.ts
Due: bash -c 'echo "Checking TypeScript for:" $0', tsc --noEmit --skipLibCheck --incremental --tsBuildInfoFile .tsbuildinfo.precommit, prettier --check --cache --cache-location .prettier-cache, eslint --cache --cache-location .eslintcache --max-warnings 0, tsx scripts/check-secrets.ts
