Repository Pricepro2006/CrewAI_Team: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 200, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 200", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"]
}

chore: Remove internal debug and pnpm files
  debug_frontend.js
  docker-compose.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --max-warnings 200, prettier --write

chore: Remove microsoft-graph MCP server config
  mcp-servers/microsoft-graph/package-lock.json
  mcp-servers/microsoft-graph/package.json
  mcp-servers/microsoft-graph/src/index.ts
Due: eslint --fix --max-warnings 200, prettier --write

chore: Remove deployment folder
  deployment/docker/Dockerfile
  deployment/kubernetes/configmap.yaml
  deployment/kubernetes/deployment.yaml
  deployment/monitoring/alertmanager-config.yaml
  deployment/monitoring/grafana-dashboard.json
  deployment/monitoring/prometheus-config.yaml
  deployment/scripts/deploy.sh
  deployment/scripts/rollback.sh
Due: prettier --write

chore: Remove docker folder
  docker/Dockerfile
  docker/docker-compose.staging.yml
  docker/docker-compose.yml
Due: prettier --write

chore: Remove tools folder
  tools/ollama
Due: none

chore: Clean up internal files for public repository - confidence-system-integration branch
  docs/AGENTS_AND_TOOLS.md
  docs/Claude.md
  docs/Comprehensive_Analysis_CrewAI_Team_07182025_0123.md
  docs/GUARDRAIL_SYSTEM.md
  docs/system_interaction_diagram.md
Due: prettier --write

chore: Add security commit message template
  .gitmessage
Due: none

docs: Add git commands reference for security branch work
  GIT_COMMANDS_FOR_SECURITY_WORK.md
Due: prettier --write

security: Enhance XSS protection with comprehensive sanitization
  package.json
  pnpm-lock.yaml
  src/api/middleware/security/index.ts
  src/utils/output-sanitizer.ts
  src/utils/xss-protection.ts
Due: eslint --fix --max-warnings 200, prettier --write

security: Complete XSS protection implementation with React components and tests
  .env.example
  docs/SECURITY.md
  src/api/routes/chat.router.ts
  src/api/services/UserService.ts
  src/api/services/__tests__/UserService.security.test.ts
  src/ui/components/Chat/MessageList.tsx
  src/ui/components/SafeContent/SafeContent.tsx
  src/ui/components/SafeContent/__tests__/SafeContent.test.tsx
  src/ui/components/SafeContent/index.ts
  src/utils/__tests__/output-sanitizer.xss.test.ts
  src/utils/__tests__/xss-protection.test.ts
Due: eslint --fix --max-warnings 200, prettier --write

security: Update Stage 3 model to doomgrave/phi-4:14b-tools-Q3_K_S
  .env.example
  docs/FOREIGN_KEY_ENFORCEMENT.md
  docs/NEGATIVE_PROCESSING_TIME_FIX.md
  package.json
  pnpm-lock.yaml
  src/api/middleware/security/guest-auth.ts
  src/api/routes/security.router.ts
  src/api/services/ConversationService.ts
  src/api/services/EmailStorageService.ts
  src/api/services/GuestUserService.ts
  src/api/services/SecurityMonitoringService.ts
  src/api/services/UserService.ts
  src/api/services/__tests__/guest-user-security.test.ts
  src/api/trpc/context.ts
  src/api/trpc/enhanced-router.ts
  src/api/trpc/router.ts
  src/config/model-selection.config.ts
  src/config/ollama.config.ts
  src/core/agents/specialized/EmailAnalysisAgentEnhanced.ts
  src/core/agents/specialized/EmailAnalysisConfig.ts
  src/core/database/EmailAnalyticsService.ts
  src/core/database/__tests__/EmailAnalyticsService.test.ts
  src/database/DatabaseManager.ts
  src/database/__tests__/foreign-key-enforcement.test.ts
  src/database/migrations/006_fix_negative_processing_times.ts
  src/database/schema/enhanced_schema.sql
  src/database/scripts/runMigrations.ts
  src/scripts/fix-negative-processing-times.ts
  src/ui/components/Settings/Settings.tsx
Due: eslint --fix --max-warnings 200, prettier --write

docs: Add Phase 2 git workflow documentation and commit template
  .gitmessage-phase2
  docs/GIT_WORKFLOW_PHASE2.md
Due: prettier --write

fix: Complete WebSocket memory leak prevention (ERR-003)
  docs/WEBSOCKET_MEMORY_LEAK_FIXES.md
  src/api/routes/websocket-monitor.router.ts
  src/api/server.ts
  src/api/services/WebSocketService.ts
  src/api/services/__tests__/WebSocketService.memory.test.ts
  src/ui/hooks/useWebSocket.ts
Due: eslint --fix --max-warnings 200, prettier --write

feat: Implement comprehensive monitoring and observability system
  docs/AUTHENTICATION_SYSTEM.md
  docs/INTEGRATION_TEST_MIGRATION.md
  docs/MONITORING_SETUP.md
  src/api/middleware/auth.ts
  src/api/middleware/monitoring.ts
  src/api/routes/auth.router.ts
  src/api/routes/monitoring.router.ts
  src/api/server.ts
  src/api/services/UserService.ts
  src/api/services/WebSocketService.ts
  src/api/trpc/context.ts
  src/api/trpc/router.ts
  src/api/trpc/routers/monitoring.router.ts
  src/api/utils/jwt.ts
  src/core/agents/specialized/ResearchAgent.integration.test.ts
  src/core/agents/specialized/ResearchAgent.test.ts
  src/core/llm/OllamaProvider.ts
  src/core/master-orchestrator/MasterOrchestrator.integration.test.ts
  src/database/migrations/008_create_users_table.ts
  src/database/migrations/migrate.ts
  src/database/models/User.ts
  src/monitoring/ErrorTracker.ts
  src/monitoring/HealthChecker.ts
  src/monitoring/MetricsCollector.ts
  src/monitoring/PerformanceMonitor.ts
  src/test/setup-integration.ts
  src/test/utils/ollama-test-helper.ts
  src/ui/components/Auth/AuthForms.css
  src/ui/components/Auth/AuthModal.css
  src/ui/components/Auth/AuthModal.tsx
  src/ui/components/Auth/LoginForm.tsx
  src/ui/components/Auth/RegisterForm.tsx
  src/ui/components/Auth/UserProfile.css
  src/ui/components/Auth/UserProfile.tsx
  src/ui/components/Monitoring/MonitoringDashboard.tsx
  src/ui/components/Settings/Settings.tsx
  src/ui/hooks/useAuth.ts
  src/ui/utils/trpc.ts
  vitest.integration.config.ts
Due: eslint --fix --max-warnings 200, prettier --write

fix: Resolve all ESLint errors blocking CI/CD pipeline
  .eslintrc.json
  src/api/middleware/asyncHandler.ts
  src/api/middleware/security/csrf.ts
  src/api/server.ts
  src/api/services/EmailStorageService.ts
  src/api/services/GraphSubscriptionManager.ts
  src/database/migrations/migrate.ts
  src/database/security/SqlInjectionProtection.ts
  src/monitoring/HealthChecker.ts
  src/monitoring/MetricsCollector.ts
  src/scripts/runDatabaseMigrations.ts
  src/test/utils/ollama-test-helper.ts
  src/ui/hooks/useAuth.tsx
  src/ui/hooks/useCSRF.tsx
  src/utils/error-handling/error-messages.ts
Due: eslint --fix --max-warnings 200, prettier --write

fix: Resolve remaining lint errors in confidence-system-integration branch
  .claude/agents/architecture-reviewer.md
  .claude/agents/data-scientist-sql.md
  .claude/agents/error-resolution-specialist.md
  .claude/agents/frontend-ui-ux-engineer.md
  .claude/agents/git-version-control-expert.md
  .claude/agents/security-patches-expert.md
  .claude/agents/test-failure-debugger.md
  PHASE2_REVIEW.md
  PHASE3_ACTION_PLAN.md
  SECURITY_PATCH_SUMMARY.md
  docs/DATABASE_MIGRATIONS_README.md
  docs/DATABASE_SECURITY_SUMMARY.md
  docs/MODEL_CONFIGURATION_ARCHITECTURE.md
  docs/PHASE2_SETUP_SUMMARY.md
  docs/SECURITY_HEADERS.md
  docs/SECURITY_HEADERS_IMPLEMENTATION_SUMMARY.md
  docs/SECURITY_HOOKS_GUIDE.md
  docs/SECURITY_HOOKS_SUMMARY.md
  docs/SECURITY_PATCH_GUEST_USERS.md
  scripts/check-secrets.ts
  scripts/generate-jwt-secret.ts
  scripts/install-git-secrets.sh
  scripts/install-ollama-models.sh
  scripts/preflight-check.sh
  scripts/run-integration-tests.sh
  scripts/setup-security-hooks.sh
  scripts/start-ollama.sh
  scripts/tsconfig.json
  src/api/services/__tests__/UserService.refresh-token-security.test.ts
  src/api/utils/password.ts
  src/core/rag/VectorStore.ts
  src/core/rag/confidence/PerformanceOptimizer.ts
  src/core/rag/confidence/__tests__/AdaptiveDeliveryManager.test.ts
  src/test/system/comprehensive-verification.test.ts
  src/test/system/critical-issues-simple.test.ts
  src/test/utils/error-handling.ts
  src/test/utils/integration-test-helpers.ts
  src/utils/output-sanitizer.ts
Due: eslint --fix --max-warnings 200, prettier --write

fix: Add block scope to case declaration in RelevanceScorer
  src/core/rag/confidence/evaluators/RelevanceScorer.ts
Due: eslint --fix --max-warnings 200, prettier --write
