Repository Pricepro2006/CrewAI_Team: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

fix: Resolve critical TypeScript type errors for CI/CD compatibility
  .husky/commit-msg
  README.md
  config/typescript/tsconfig.server.json
  docs/EMAIL_PIPELINE_DEPLOYMENT.md
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
  docs/JULY_30_PROGRESS.md
  docs/PRE_COMMIT_HOOK_VERIFICATION.md
  pids/email-pipeline.pid
  scripts/run-email-pipeline-fixed.ts
  scripts/run-email-pipeline-simple.ts
  scripts/run-email-pipeline.ts
  scripts/test-email-format.ts
  scripts/test-email-pipeline.ts
  src/api/middleware/asyncHandler.ts
  src/client/components/walmart/WalmartOrderHistory.tsx
  src/client/components/walmart/WalmartPriceTracker.tsx
  src/client/components/walmart/WalmartSubstitutionManager.tsx
  src/core/pipeline/PipelineOrchestrator.ts
  src/types/walmart-grocery.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

perf: Streamline pre-commit hooks for faster development
  .lintstagedrc.json
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
  package.json
Due: prettier --write, bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: Implement Microsoft Graph email retrieval system
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
  scripts/README_MISSING_EMAILS.md
  scripts/graph_api_config.example.json
  scripts/missing_email_retriever.py
  scripts/pull-missing-emails.ts
  scripts/pull_missing_emails.py
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

docs: Add comprehensive critical fixes checklist for email pipeline
  docs/CRITICAL_FIXES_CHECKLIST.md
Due: prettier --write, bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: Complete Phase 4 - TypeScript Type Safety
  docs/CRITICAL_FIXES_CHECKLIST.md
  src/api/middleware/__tests__/rateLimiter.test.ts
  src/api/middleware/security/__tests__/csrf.test.ts
  src/api/routes/email.router.test.ts
  src/api/services/BrightDataScraper.ts
  src/api/services/EmailStorageService.test.ts
  src/api/services/EmailStorageService.ts
  src/api/services/GraphSubscriptionManager.ts
  src/api/services/__tests__/EmailStorageService.n1.test.ts
  src/api/trpc/__tests__/rateLimiting.test.ts
  src/api/webhooks/microsoft-graph.test.ts
  src/api/webhooks/microsoft-graph.ts
  src/core/agents/specialized/CodeAgent.ts
  src/core/agents/specialized/DataAnalysisAgent.ts
  src/core/agents/specialized/EmailAnalysisAgent.test.ts
  src/core/agents/specialized/ResearchAgent.test.ts
  src/core/agents/specialized/WriterAgent.ts
  src/core/database/AutomationRuleService.ts
  src/core/database/__tests__/EmailAnalyticsService.test.ts
  src/core/maestro/MaestroFramework.ts
  src/core/middleware/BusinessSearchMiddleware.ts
  src/core/middleware/__tests__/BusinessSearchMiddleware.test.ts
  src/core/middleware/__tests__/RateLimiter.test.ts
  src/core/rag/EmbeddingService.test.ts
  src/core/services/EmailChainAnalyzer.ts
  src/core/services/__tests__/EmailThreePhaseAnalysisService.test.ts
  src/core/workers/email-notification.worker.ts
  src/database/error-handling.ts
  src/middleware/__tests__/integration.test.ts
  src/services/MCPToolsService.ts
  src/services/PipelineJsonParser.ts
  src/shared/integration/example-integration-test.ts
  src/shared/testing/integration-test-framework.ts
  src/shared/testing/test-client.ts
  src/test-framework.ts
  src/ui/utils/error-handling.ts
  src/utils/error-handling/index.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: Complete Phase 5 - Transaction Handling & Error Recovery
  src/core/recovery/CheckpointManager.ts
  src/core/retry/RetryManager.ts
  src/core/shutdown/GracefulShutdownHandler.ts
  src/database/TransactionIntegration.ts
  src/database/TransactionManager.ts
  src/database/tests/TransactionManager.test.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

fix: Resolve TypeScript linting errors in critical email processing files
  scripts/process-emails-by-conversation.ts
  src/core/prompts/ThreePhasePrompts.ts
  src/core/services/EmailThreePhaseAnalysisService.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

CRITICAL: Document JSON parsing quality risk - potential 100% quality degradation
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
  docs/JSON_PARSING_QUALITY_RISK.md
  scripts/validate-json-parsing-quality.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

chore: Remove Windows Zone.Identifier metadata files
  .claude/agents/architecture-reviewer.md:Zone.Identifier
  .claude/agents/data-scientist-sql.md:Zone.Identifier
  .claude/agents/error-resolution-specialist.md:Zone.Identifier
  .claude/agents/git-version-control-expert.md:Zone.Identifier
  .claude/agents/security-patches-expert.md:Zone.Identifier
  .claude/agents/test-failure-debugger.md:Zone.Identifier
Due: bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

fix: enhance core email processing components and configuration
  CLAUDE.md
  README.md
  package.json
  src/core/recovery/CheckpointManager.ts
  src/core/services/EmailChainAnalyzer.ts
  src/core/services/EmailThreePhaseAnalysisService.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

fix: update core email processing scripts
  scripts/import-iems-emails.ts
  scripts/process-emails-by-conversation.ts
  scripts/validate-json-parsing-quality.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

docs: update email pipeline documentation and risk analysis
  docs/EMAIL_PIPELINE_IMPLEMENTATION_CHECKLIST.md
  docs/JSON_PARSING_QUALITY_RISK.md
  dump.rdb
Due: prettier --write, bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

docs: add comprehensive email processing documentation
  ARCHITECTURAL_FIX_PATCH.md
  CRITICAL_FIXES_VALIDATION.md
  docs/CRITICAL_FIXES_COMPLETE.md
  docs/CRITICAL_FIXES_COMPLETE_FINAL.md
  docs/CRITICAL_SCORING_FIX_COMPLETE.md
  docs/EMAIL_PIPELINE_PRODUCTION_ARCHITECTURE.md
  docs/EMAIL_PROCESSING_DATABASE_FIX.md
  docs/EMAIL_PROCESSING_LIVE.md
  docs/EMAIL_PROCESSING_OPTIMIZATION_PLAN.md
  docs/EMAIL_PROCESSING_OPTIMIZATION_README.md
  docs/EMAIL_PROCESSING_STATUS_REPORT.md
  docs/EMAIL_PROCESSING_SUCCESS.md
  docs/JSON_PARSING_FIXES.md
  docs/QUALITY_VALIDATION_FRAMEWORK.md
  docs/SCHEMA_USAGE_TRACKING.md
Due: prettier --write, bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: add production-ready email processing components
  src/core/monitoring/EmailProcessingMonitor.ts
  src/core/processors/MemorySafeBatchProcessor.ts
  src/core/services/EmailProcessingQueueService.ts
  src/core/services/EmailThreePhaseAnalysisServiceFixed.ts
  src/core/workers/EmailProcessingWorker.ts
  src/core/workers/EmailProcessingWorkerPool.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: add comprehensive email processing and analysis scripts
  scripts/analyze-and-process-full-dataset-v2.ts
  scripts/analyze-chain-completeness-enhanced.ts
  scripts/analyze-conversations-simple.ts
  scripts/configure-quality-framework.ts
  scripts/create-enhanced-email-schema.ts
  scripts/create-missing-tables.ts
  scripts/direct-email-processing.ts
  scripts/fix-conversation-scoring.ts
  scripts/fix-email-schema-now.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: add import, monitoring, and infrastructure scripts
  scripts/import-emails-with-full-data.ts
  scripts/import-iems-email-batches-fixed.ts
  scripts/import-iems-email-batches.ts
  scripts/manage-ollama-server.ts
  scripts/map-email-columns.ts
  scripts/migrate-from-original-db.ts
  scripts/monitor-conversation-processing.ts
  scripts/monitor-email-processing-progress.ts
  scripts/monitor-email-processing.ts
  scripts/monitor-processing-simple.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: add advanced email processing scripts
  scripts/process-all-emails-continuously.ts
  scripts/process-all-emails-simple.ts
  scripts/process-emails-adaptive-phases.ts
  scripts/process-emails-by-conversation-fixed.ts
  scripts/process-emails-enhanced-db.ts
  scripts/process-emails-fixed-json.ts
  scripts/process-emails-optimal.ts
  scripts/process-emails-simple-analysis.ts
  scripts/process-emails-simple-with-json.ts
  scripts/process-emails-unified.ts
  scripts/process-emails-with-server-management.ts
  scripts/process-emails-without-conversation-ids.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

feat: add testing and validation scripts
  scripts/run-critical-fixes-validation.ts
  scripts/test-database-consistency.ts
  scripts/test-email-analysis.ts
  scripts/test-infrastructure.ts
  scripts/test-json-format.ts
  scripts/test-json-parsing-fixes.ts
  scripts/test-json-quality-validation.ts
  scripts/test-quality-framework.ts
  scripts/test-scoring-fix.ts
  scripts/test-single-email-processing.ts
  scripts/update-chain-types.ts
  scripts/validate-critical-fixes-simple.ts
Due: eslint --fix, prettier --write, bash -c 'tsx scripts/security-checks.ts', bash -c 'tsx scripts/check-secrets.ts', bash -c 'tsx scripts/check-file-size.ts'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,css})
  bash -c 'tsx scripts/security-checks.ts': (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'tsx scripts/check-secrets.ts': any of: *
  bash -c 'tsx scripts/check-file-size.ts': any of: *
